body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.menu a {
    display: block;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carta.virada {
    background-color: white;
    color: black;
}