.game-board {
    width: 800px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    width: 170px;
    height: 160px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    border: 3px solid #ffffff;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-color: #1e293b;
}