#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.titulo-jogo {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: #F2F2F2;
    margin-top: 4rem;
    letter-spacing: 6px;
    text-shadow: 0 4px 12px rgba(0,0,0,0.4);
}