.pagina-sobre {
    color: white;
}

.pagina-sobre header {
    max-width: 900px;
    margin: 0 auto 60px auto;

}

.topo-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.pagina-sobre h1 {
    font-size: 42px;
    letter-spacing: 2px;
    margin: 0;
}

.pagina-sobre main p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
    opacity: 0.9;
}

.pagina-sobre main span {
    font-weight: bold;
}

.info-pagina-sobre {
    grid-column: span 6;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    padding: 25px;
    border-radius: 18px;
    border: 2px solid rgba(202, 201, 242, 0.3);
}

.equipe span {
    display: block;
    text-align: left;
    margin: 2rem 0 2rem 0;
}

.equipe ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px 30px;
    margin-top: 10px;
    padding-left: 20px;
}

.equipe li {
    text-align: justify;
}

.pagina-sobre main {
    max-width: 1200px;
    margin: 0 auto;
}

.pagina-sobre main h2 {
    text-align: center;
    margin: 4rem 0 2rem 0;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    margin: 0 0 4rem 0;
}

.pagina-sobre p {
    text-align: justify;
}

.card-imagem {
    grid-column: span 2;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    padding: 15px;
    border-radius: 18px;
    text-align: left;
    border: 2px solid rgba(202, 201, 242, 0.3);
    transition: transform 0.3s ease;
}

.card-imagem.dupla {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: start;
}

.card-imagem.dupla p {
    grid-column: span 2;
}

.card-imagem.dupla h3 {
    grid-column: span 2;
}

.card-imagem.dupla h4 {
    grid-column: span 2;
}

.card-imagem.dupla ul {
    grid-column: span 2;
    margin: 0 0 0 2rem;
}

.card-imagem h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-imagem h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card-imagem:hover {
    transform: translateY(-8px);
}

.card-imagem p {
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.9;
}

.card-imagem img {
    width: 100%;
    border-radius: 8px;
    display: block;
}

.card-imagem ul {
    text-align: left;
    margin-top: 10px;
    opacity: 0.9;
}