.about-page {
    color: white;
}

.about-page header {
    max-width: 900px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.about-page h1 {
    font-size: 42px;
    margin-bottom: 35px;
    letter-spacing: 2px;
}

.about-page header p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
    opacity: 0.9;
}

.about-page header span {
    font-weight: bold;
}

.team {
    text-align: justify;
    margin-top: 30px;
}

.about-page main {
    max-width: 1200px;
    margin: 0 auto;
}

.about-page main h2 {
    text-align: center;
    margin-bottom: 50px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    margin: 0 0 4rem 0;
}

.about-page p {
    text-align: justify;
}

.image-card {
    grid-column: span 2;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    padding: 15px;
    border-radius: 18px;
    text-align: left;
    border: 2px solid rgba(202, 201, 242, 0.3);
    transition: transform 0.3s ease;
}

.image-card.double {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: start;
}

.image-card.double p {
    grid-column: span 2;
}

.image-card.double h3 {
    grid-column: span 2;
}

.image-card.double h4 {
    grid-column: span 2;
}

.image-card.double ul {
    grid-column: span 2;
    margin: 0 0 0 2rem;
}

.image-card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-card h4 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
}

.image-card:hover {
    transform: translateY(-8px);
}

.image-card p {
    font-size: 16px;
    margin-top: 10px;
    opacity: 0.9;
}

.image-card img {
    width: 100%;
    border-radius: 8px;
    display: block;
}

.image-card ul {
    text-align: left;
    margin-top: 10px;
    opacity: 0.9;
}