@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=M+PLUS+Rounded+1c&display=swap');
@import url('home.css');
@import url('about.css');
@import url('button.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MISSÃO 3: Mudar cor de fundo */
body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    text-align: center;
    background: #010b43;
    min-height: 100vh;
}

header {
    padding: 30px 0;
}

/* MISSÃO 4: Mudar fonte ou tamanho */
h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #F2F2F2;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}